[user]
	name = Ben Holley
	email = benolee@gmail.com
[color]
	diff = auto
	branch = auto
	status = auto
[giggle]
	main-window-maximized = true
	main-window-geometry = 0x0+0+0
	file-view-vpane-position = 675
	history-view-vpane-position = 165
	main-window-view = HistoryView
	file-view-hpane-position = 259
[core]
	excludesfile = /home/ben/.gitignore
